    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    :root{
        font-size: 62.5%;
    }
    body {
        font-family: 'Ropa Sans', sans-serif;
    }

    header {
        width:100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        height: 12vh;
        border-bottom: 3px outset #777777 ;
    }
    #logotipo {
        display: flex;
        align-items: center;
        cursor:pointer;
    }
    header span {
        cursor:pointer;
        color: #AAAAAA

    }
    #logotipo h1 {
        font-size: 3rem;
        color:#777777
    }
    .banner{
        background-image: url(/./assets/img/Banner.png); 
        height: 42vh;
        background-repeat: no-repeat;
        background-position: center;
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 90%
        
    }
    .banner span {
        opacity: 0.7;
        margin: 0% 25%;
        cursor:pointer;
        font-size:3.3rem
    }

