    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    :root{
        font-size: 62.5%;
    }
    body {
        font-family: 'Ropa Sans', sans-serif;
    }
       
    .container{
        max-width: 1200px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
     }

    header {
        width:100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        height: 12vh;
        border-bottom: 3px outset #777777 ;
    }
    #logotipo {
        display: flex;
        align-items: center;
        cursor:pointer;
    }
    header span {
        cursor:pointer;
        color: #AAAAAA

    }
    #logotipo h1 {
        font-size: 3rem;
        color:#777777
    }
    .banner{
        background-image: url(/./assets/img/Banner.png); 
        height: 42vh;
        background-repeat: no-repeat;
        background-position: center;
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 100%
        
    }
    .banner span {
        opacity: 0.7;

        cursor:pointer;
        font-size:3.3rem
    }
    .pos-banner {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width:100%
    }

    .pos-banner div h2, .pos-banner div p, .pos-banner div img  {
        background-color: #EEEEEE;
        width:90%;
        margin: 1px;
        color:#555555
    }

    .pos-banner div {
        width: 30%;
        display:flex;
        flex-direction: column;
        height: 45vh;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
     }

     .your-style {
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%
    }
    #industrial {
        background-image: url(/assets/img/Rectangle\ 11.png);
        background-position:center;
        background-repeat: no-repeat;
        opacity: 0.7;
        color: white;
        font-size: 1.5rem;
        font-weight: 600
    }
    #mordern {
        background-image: url(/assets/img/Rectangle\ 12.png);
        background-position:center;
        background-repeat: no-repeat;
        opacity: 0.7;
        color: white;
        font-size: 1.5rem;
        font-weight: 600
    }
    #classic{
       background-image: url(/assets/img/Rectangle\ 13.png);
       background-position:center;
       background-repeat: no-repeat;
       opacity: 0.7;
       color: white;
       font-size: 1.5rem;
       font-weight: 600
    }

    .your-style div {
        display:flex;
        height: 20vh;
        width: 70%;
        justify-content: center;
        align-items: center;
        margin: -2%;
        gap: 5px
    }
    #solo-style {
        color:#888888;
        font-size: 1.5rem;
        font-weight: 600
    }
    .rodape{
        display:flex;
        justify-content: space-around;
        align-items: center;
        height:40vh;
        background-color: #333333;
        margin-top: 20px
    }
    .icons img {
        width:20px;
        height:20px;
        background-color: white;
        margin: 5px
    }
    .informations h3 {
        margin:5px
    }